# Arquivos específicos do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
database/pets.sqlite3
# Ambientes virtuais do Python
venv/
*.venv
env/
*.env

# Arquivos específicos do Flask
instance/

# Arquivos de log
*.log
*gunicorn.detailed.log.*
# Outros arquivos e diretórios comuns a serem ignorados
.DS_Store
*.swp
*.swo
*~

